.arrow_circle {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white !important;
}

.MuiBackdrop-root {
  padding-left: 5vh !important;
  flex-direction: column;
}
