.arrow_circle {
  position:relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white !important;
}

.MuiBackdrop-root {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-left: 5vh !important;
}