.chat_list {
  margin-top: 2vh;
}

.chat {
display: flex;
}

.message_stamp {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.chat_message {
  padding-left: 1vh;
}

.time_text {
  font-size: small;
  color: grey;
  padding-left: 1vh;
}




