
.hand_heart {
  padding: 3vw !important;
  color: pink!important;
}

.chat_bubble {
  padding: 3vw !important;
  color: cyan !important;
}

.profile_cube {
  padding: 3vw !important;
  color: cyan!important;
}

