#profile-main {
  text-align: left;
  height: 80vh;
  font-family: "Snell Roundhand, cursive";

  h1 {
    margin-left: 2rem;
  }
}

.profile-user {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-bottom: 2rem;
  

  .user-profile-name {
    margin-left: 1rem;
  }
}

.profile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// #1976d2