#g-list-btns,
#o-list-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  bottom: 1rem;

  .gender-list-btn,
  .orientation-list-btn {
    border-radius: 1rem;
    width: 45%;
    height: 4rem;
    background-color: #1976d2;
    border: none;
    color: #fff;
    font-weight: bold;
    font-family:"Snell Roundhand, cursive"
  }
}

.MuiListItem-root {
  .MuiListItemText-primary {
    font-family:"Snell Roundhand, cursive";
  }
}

.MuiListItem-root:last-child {
  margin-bottom: 5rem;
}