.inactive {
  display: none;
}

.selected {
  border: #1976d2 3px solid;
}

// Initial register prompt
.register-div h1 {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  height: 70vh;
  padding-top: 4.5rem;

  label {
    font-weight: bold;
    margin-right: 10%;
    margin-bottom: 5px;
    position: relative;
    right: 100%;
  }

  select {
    position: relative;
    right: 100%;
    border-radius: 1rem;
    border: #eb4b4b 3px solid;
    text-align: center;
    margin-bottom: 1rem;
    width: 80%;
    height: 3rem;
    margin: 0 auto;
    margin-bottom: 15%;
  }

  input[type=submit] {
    position: relative;
    top: 40%;
    background-color: #1976d2;
    border-radius: 5rem;
    border: none;
    color: #ffff;
    font-weight: bold;
    font-size: 1.5rem;
    height: 7rem;
    width: 7rem;
    margin: 0 auto;
  }
}

// Secondary page
#secondary-prompt {
  height: 70vh;

  section {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  button:first-child {
    margin-top: 35%;
    margin-bottom: 7rem;
    position: relative;
    left: 100%;
  }

  button {
    position: relative;
    right: 100%;
    background-color: #fff;
    border: black solid 1.5px;
    border-radius: 1rem;
    width: 80%;
    height: 3.5rem;
    margin: 0 auto;
  }

  button:hover {
    background-color: #be5555;
    border: #be5555 solid 2px;
    color: #fff;
  }
}

// Animations
.animate1 {
  animation: 0.8s ease-out 1s 1 slideInLeft forwards;
}

.animate2 {
  animation: 0.8s ease-out 1.5s 1 slideInLeft forwards;
}

.animate3 {
  animation: 0.8s ease-out 2s 1 slideInLeft forwards;
}

.animate5 {
  animation: 0.8s ease-out 1.5s 1 slideInRight forwards;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(125%);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-125%);
  }
}

.animate4 {
  animation: 0.8s ease-out 2s 1 slideUp forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-200%);
  }
}