.inactive {
  display: none;
}

// Initial register prompt
div {
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      margin-bottom: 1rem;
    }
  }
}

// Secondary page
