.inactive {
  display: none;
}

// Initial register prompt
h1 {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  height: 70vh;
  padding-top: 4.5rem;

  label {
    margin-left: 10%;
    margin-bottom: 5px;
  }

  select {
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    width: 80%;
    height: 3rem;
    margin: 0 auto;
    margin-bottom: 15%;
  }

  input[type=submit] {
    background-color: #be5555;
    border-radius: 5rem;
    border: none;
    color: #ffff;
    height: 5rem;
    width: 5rem;
    margin: 0 auto;
  }
}

// Secondary page
#secondary-prompt {
  height: 70vh;

  section {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  button:first-child {
    margin-top: 35%;
    margin-bottom: 7rem;
  }

  button {
    background-color: #fff;
    border: black solid 1.5px;
    border-radius: 1rem;
    width: 80%;
    height: 3.5rem;
    margin: 0 auto;
  }

  button:hover {
    background-color: #be5555;
    border: #be5555 solid 2px;
    color: #fff;
  }
}